a {
    color: black;
    text-decoration: none;
    background: transparent !important;
}



a,
button {
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
}

a.small-white-link {
    padding-bottom: 4px;
    position: relative;
    color: #fff;
    text-decoration: none;
}

a.small-white-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 16px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


header a,
footer a {
    white-space: nowrap;
    color: #000;
}

img {
    vertical-align: middle;
}

.linkedin {
    margin-left: 25px;
}


li.white-nav {
    padding: 20px;
}

li.white-nav a.rollover-underline-black {
    padding: 0 0 8px 0 !important;
}

.main-image {
    background: url("../../images/cel-run.jpeg") no-repeat center center;
    background-size: cover;
    height: 300px;
    text-align: center;
    margin-bottom: 0;
}

.main-image h1 {
    color: rgb(229, 35, 100);
    font-weight: 700;
    font-size: 63px;
}

.main-row-image {
    background-size: cover;
    min-height: 350px;
}

.middle {}

.middle-section {
    background: url("../../images/cel-run.jpeg") no-repeat center center;
    background-size: cover;
    height: 400px;
}

nav ul {
    margin: 0;
}

.nav-black-bar {
    min-width: 100%;
    background-color: #000;
    margin-bottom: 20px;
    height: 35px;
}

.nav-black-bar .nav-top {
    margin: 0 auto;
    display: block;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 12px;
    padding-top: 0;
}

.nav-bar-title {
    color: white;
    font-size: 30px;
    float: right;
    padding-right: 50px;
    padding-top: 8px;
}

.nav-black-bar-top {
    min-width: 100%;
    background-color: #000;
    height: 55px;
}

.nav-black-bar .nav-top .left-black-nav,
.nav-black-bar .nav-top .right-black-nav {
    float: left;
    margin: 0;
}

.nav-black-bar .nav-top .left-black-nav li,
.nav-black-bar .nav-top .right-black-nav li {
    display: inline;
    padding-left: 10px;
}

.nav-black-bar .nav-top .left-black-nav ul,
.nav-black-bar .nav-top .right-black-nav ul {
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 0 !important;
}

.nav-black-bar .nav-top .left-black-nav p,
.nav-black-bar .nav-top .left-black-nav a,
.nav-black-bar .nav-top .left-black-nav ul,
.nav-black-bar .nav-top .right-black-nav p,
.nav-black-bar .nav-top .right-black-nav a,
.nav-black-bar .nav-top .right-black-nav ul {
    color: #fff;
    text-transform: uppercase;
    line-height: 38px;
}

.nav-container {
    padding: 0;
    position: relative;
    top: 5px;
}

.nav-container nav a {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important
}


.nav-container nav {
    margin-top: 50px;
}

.nav-container nav li,
.nav-container nav ul,
.nav-container nav a {
    display: inline !important;
}

.nav-container nav.left-nav {
    clear: both;
    top: 1px;
    margin-left: -8px;
    margin-right: 8px;
}

.nav-container nav.right-nav {
    clear: initial;
    top: 1px;
    margin-left: 8px;
    margin-right: -8px;
}

.nav-container nav.right-nav ul {
    float: right;
}

.nav-logo-wrapper {
    margin-top: -6px;
}

.nav-logo {
    background: url(Images/GO.png) no-repeat;
    background-size: contain;
    margin: 0 auto;
    height: 96px;
    width: 175px;
}

.no-pad {
    padding: 0 !important;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad-left {
    padding-left: 0;
}

.rollover-underline-black {
    position: relative;
    color: #000;
    text-decoration: none;
}

.rollover-underline-black:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.rollover-underline-black:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.social-media i {
    color: white;
    padding-left: .5em;
    font-size: 25px;
    padding-top: 13px;
}

.supporting {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.supporting h2 {
    font-size: 25px;
}

.supporting p {
    font-size: 16px;
}

.supporting .container {
    max-width: 1200px;
}

.supporting .col-md-4 {
    text-align: center;
    color: black;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

#MainRowImage1 {
    background: url("../../images/khaleesi.jpeg");
}

#MainRowImage2 {
    background: url("../../images/raven.jpeg");
}

#MainRowImage3 {
    background: url("../../images/cel-pic2.jpeg");
}


.project-pics img {
    width: 80%;
}