a.small-white-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}

.main-image {
    background: url(https://flybook-v2-saved.s3.amazonaws.com/cd2b3cbe-17ce-4887-9a06-a5f15c360078.jpeg) no-repeat center center;
    background-size: cover;
    height: 500px;
    text-align: center;
    margin-bottom: 0;
}

.main-image h1 {
    color: rgb(229, 35, 100);
    font-weight: 700;
    font-size: 63px;
}

.nav-black-bar {
    min-width: 100%;
    background-color: #000;
    margin-bottom: 20px;
    height: 35px;
}

.nav-black-bar .nav-top {
    margin: 0 auto;
    display: block;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 12px;
    padding-top: 0;
}

.nav-black-bar .nav-top .left-black-nav,
.nav-black-bar .nav-top .right-black-nav {
    margin: 0;
}

.no-pad {
    padding: 0 !important;
}

.nav-black-bar .nav-top .left-black-nav p,
.nav-black-bar .nav-top .right-black-nav p {
    float: left;
    margin: 0;
}