* {
    font-family: 'Questrial', sans-serif;
}


a {
    color: black;
    text-decoration: none !important;
    background: transparent !important;
}

a,
button {
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
}

a.small-white-link {
    padding-bottom: 4px;
    position: relative;
    color: #fff;
    text-decoration: none;
}

a.small-white-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

b,
strong {
    font-size: 25px !important;
}

hr {
    width: 80%;
}


img {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

img:hover {
    -webkit-filter: grayscale(100%);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 16px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-social i {
    color: black;
    padding: 15px 5px;
    ;
    font-size: 25px;

}

.footer-social i:hover {
    color: #014687 !important;
}


.jumbotron em {
    font-size: 30px !important;
    color: #59595A !important;
}

.jumbotron h2 {
    margin: 15px 35px;
}


.jumbotron p {
    margin: 15px 35px;
    font-size: 16px;
    font-weight: 200;
}

.linkedin {
    margin-left: 25px;
}


li.white-nav {
    padding: 20px;
}

li.white-nav a.rollover-underline-black {
    padding: 0 0 8px 0 !important;
}

.logo {
    padding-top: 30px;
}

.main {
    padding-top: 60px;
}

.main-image {
    background: url("https://flybook-v2-saved.s3.amazonaws.com/8c1e45e6-3dd1-4cde-b145-0d94299f6e7b.jpg") no-repeat center center;
    background-size: cover;
    height: 270px;
    text-align: center;
    margin-bottom: 0;
}

.main-row-image {
    background-size: cover;
    min-height: 350px;
}

.middle-section {
    background-color: #EFEEEE;
    padding: 80px;
}

.nav-bar-title {
    color: white;
    font-size: 25px;
    float: right;
    padding-right: 50px;
    padding-top: 8px;
}

.nav-black-bar-top {
    min-width: 100%;
    background-color: #000;
    height: 55px;
}


.nav-container {
    padding: 0;
    position: relative;
    top: 5px;
}

.nav-container nav a {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important
}


.nav-container nav {
    margin-top: 50px;
}

.nav-container nav li,
.nav-container nav ul,
.nav-container nav a {
    display: inline !important;
}

.nav-container nav.left-nav {
    clear: both;
    top: 1px;
    margin-left: -8px;
    margin-right: 8px;
    padding-left: 70px;
}

.nav-container nav.right-nav {
    clear: initial;
    top: 1px;
    margin-left: 8px;
    margin-right: -8px;
    padding-right: 70px;
}

.nav-container nav.right-nav ul {
    float: right;
}

.nav-logo-wrapper {
    margin-top: -6px;
}

.nav-logo {
    background: url(Images/GO.png) no-repeat;
    background-size: contain;
    margin: 0 auto;
    height: 96px;
    width: 175px;
}

.no-pad {
    padding: 0 !important;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad-left {
    padding-left: 0;
}

.project-pics img {
    width: 80%;
}

.rollover-underline-black {
    position: relative;
    color: #000;
    text-decoration: none;
}

.rollover-underline-black:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.rollover-underline-black:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.sidebar {
    width: 160px;
    float: right;
}

.sidebar img {
    margin: 0px 25px;
    border-radius: 5px;
}

.social-media i {
    color: white;
    padding-left: .5em;
    font-size: 25px;
    padding-top: 13px;
}

.supporting {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.supporting h2 {
    font-size: 25px;
}

.supporting p {
    font-size: 13px;
}

.supporting .container {
    max-width: 1200px;
    padding-bottom: 100px;
}

.supporting .col-md-4 {
    text-align: center;
    color: black;
}

.supporting .col-md-4 p {
    font-size: 14px;
    padding-bottom: 5px;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

#MainRowImage1 {
    background: url("https://flybook-v2-saved.s3.amazonaws.com/f927b144-0510-47c7-a48b-46a3e171fe8e.JPG");
    background-repeat: no-repeat;
    background-size: cover !important;
}

#MainRowImage2 {
    background: url("https://flybook-v2-saved.s3.amazonaws.com/d286dd10-3346-4914-9160-00b888d0f5ef.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
}

#MainRowImage3 {
    background: url("https://flybook-v2-saved.s3.amazonaws.com/749a0fc8-b97d-4525-a509-3093f47a5c3c.jpeg");
    background-repeat: no-repeat;
    background-size: cover !important;
}

@media screen and (max-width: 580px) {
    .main-row-image {
        min-height: 550px !important;
    }
}